@import "tailwindcss";

@font-face {
  font-family: "Khmer OS Siemreap";
  src: url("./assets/fonts/KhmerOS_siemreap.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Tailwind v4 font variable */
@theme {
  --font-khmer: "Khmer OS Siemreap", system-ui, sans-serif;
}
